html,
body {
  background: #fff;
  font: 400 16px helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  margin: 10px 40px;
  background: #fff;
  display: flex;
}

.folder {
  background: #b0916e;
  box-shadow: 10px rgba(0, 0, 0, 0.131);
  padding: 20px;
  min-width: 90%;
  max-width: 1080px;
  min-height: 1080px;
  border-radius: 10px;
  border: 1px solid #000000;
  justify-content: center;
  z-index: 1;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.131);
}

.paper {
  padding: 10px;
  width: 95%;
  height: 100vw;
  border: 1px solid #000000;
  background-color: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.131);
  z-index: 2;
}

.sidebar {
  width: 40pt;
  margin-top: 20px;
}

.menu-item {
  background: #b0916e;
  margin: 15px 10px 0px 0px;
  padding: 10px;
  min-height: 100px;
  width: 50px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  writing-mode: vertical-rl;
  justify-items: center;
  position: relative;
  overflow: visible;
  border-radius: 0px 5px 5px 0px;
}

.menu-item.selected {
  left: 1px;
  transform: scale(1.1);
  z-index: 1;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.menu-item.hidden {
  z-index: 0;
  left:-10px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.menu-item:active.selected,
.menu-item:hover.selected{
  -webkit-transform: translate(-11px, 0px);
  -moz-transform: translate(-11px, 0px);
  -ms-transform: translate(-11px, 0px);
  -o-transform: translate(-11px, 0px);
  transform: translate(-11px, 0px);
}
.menu-item:active.hidden,
.menu-item:hover.hidden{
  -webkit-transform: translate(10px, 0px);
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -o-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}

.menu-item:before,
.menu-item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  border-radius: 0px 5px 5px 0px;
  z-index: -1;
  left: 0;
}

.menu-item:before {
  top: -0px;
  transform-origin: right bottom;
  transform: skewY(5deg);
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 0px solid #000000;
}

.menu-item:after {
  bottom: -1px;
  transform-origin: right bottom;
  transform: skewY(-5deg);
  border-bottom: 1px solid #000000;
  border-top: 0px solid #000000;
  background-image: linear-gradient(from bottom to top, #b0916e, #b0916e52);
  box-shadow: 10px 5px rgba(0, 0, 0, 0.131);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.menu-item div {
  text-align: center;
  font-size: 400;
  line-height: 1.5;
}

.tab-label {
  text-orientation: mixed;
  justify-self: center;
}